django~=5.0.7
django-simple-captcha==0.6.0
django-crontab~=0.7.1
qrcode==7.4.2
numpy==2.0.1
pandas==2.2.2
matplotlib==3.9.1
reportlab~=4.2.2
svglib~=1.5.1
python-dotenv~=1.0.1
psycopg2~=2.9.9
seaborn~=0.13.2
six~=1.16.0
dnspython~=2.6.1
xlsxwriter~=3.2.0
Pillow==10.4.0