@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../fonts/AtkinsonHyperlegible-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../fonts/AtkinsonHyperlegible-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../fonts/AtkinsonHyperlegible-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../fonts/AtkinsonHyperlegible-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

body {
  background: #e6ecf0;
  font-family: "Atkinson Hyperlegible";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  color: #292f61;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 700px;
}

h1.start {
  font-size: x-large;
}